@import "src/SCSS/variables";

.infoBlock {
 & > div > .about {
   width: 1000px;
    & > .dataBlock{
      margin-top: 30px;
      display: flex;
      gap: 20px;
      & > img {
         width: 100px;
         height: 100px;
         border-radius: 50%;
       }
      & > .description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
 }
}
