$primaryColor: #7941C8;
$primaryColorLight: #E3D7F4;
$blackColor: #242027;
$greyLight: #242027;
$greyDark: #675C70;
$errorColor: #BA1C1C;
$errorColorLight: #F8D3D3;
$succesColor: #34D115;
$succesColorLight: #D8FAD1;
$firstBackgroundColor: #ffffff;
$secondBackgroundColor: #CDC7D1;
